
.static-width{
    width: 300px;
    height: 300px;
    background: url(https://lh3.googleusercontent.com/SP51xN4K-j9kKCu8CNneZeSeIzu8oKadI6M8Q1-VQ8t_dddU6-zgWQyibofS9Ubf3tsgoexkEETaEiIoTcmlJz-VRQnvTfkdy9q2vHtThdThaJclbbU4B69jeq6chyNGCa83wdoz9hRjfKQ6Ptw-TIMzvpH-CJhqq3qDiMob9Iw69bqEF1WxaQLBcWXgbeFnIL6Sx9XHh_3nC5OJzJ9g48L9ChOIgVxXsKEGDlveR9zxLpIeE1lqauDr-N43Ghlp-vLOAcz_SapRgO2yfmKiGl7v6rSGEE4n6vniK3nyVA88HW9g9DhVshBmO3Si4Wtdk8-Tcs_ugA1Eb67YWVWe23TvlUS04JgBA7LDyIDBZUEzSGATTg1yxz01LJTFhd4g7vmwr2exDY_phwAyurY58sLszF3EQQ1Y413K6gmFnHVhZkxe3GD9TpfvOSO57cveIsH-ukTdsXfNxI8hkx0PGH4HvyRR47J2KX7vw0_db-iFQw61u8FQ7klJAkhTaeXxXmRo4mQdCUH-hwlAlNuJJH1pEQrSBeUPOgadWmvykaklrZrKIzn51ux3mww6ZwZYBw-TJ2EzYm9GUOXsFXzKAf73q_9F-BX9x3rkHfGSCNWX5cHBRLYsHTUjNCOjpKhaPtnE0k85ivRDKBgiQ0l3xc8ylNWLrla9myLB0kgdyCi8SdxpTngrFBzq5Q4ltb1QOiSrSdRQy2pTbxcu3fsmvkQF=w708-h943-no?authuser=1) no-repeat top center;
    background-color: #606060;
    background-size: 200px;
}