#banner{
    background-color: #606060;
    width: 100%;
    height: 300px;
    background-image: url(https://lh3.googleusercontent.com/KFw5srLKwsr1zyLx0Eh1ZGkLLQqlS5D-Ye8-cSjQ1JSjVKcKcnvACSlmFyioRz-2ptDFutIhppGbEOT-kMwPfi83DdmMOVoEEEs-Un-xXnB-KMvMuEOKpW3kaSBkALz7a5qmq2seWhdOmBWPeTM7Y_aayGCy_PvMJi7FUy6R0kj9dIjnbDLKbj3Wk7QQEbbDTHnheKt6FrDPtHF9u6QFWu_fhou0Z1YdwZigx8-DKaOdb54HwfM5adqX8E05P-wEiVw0za3T3Kb9E756GXPpz5X4Mtx1kXrd0mdzCilP4AgJhdlq6cO_5IhdJy98FH71bEB8Rgb6Slc_uxlyBbZH3pLW1fjed2m44ORQbmLQUDyMclRw8QGpI7p-flTpq1pPLF3EcjPulbUl4Hwtmma5kzz4FbUWLmvOjGsy9PJ_QZG4067YRBSUYTLGKd1shi0PSRJaBsY9y6uUWuHsyqGfpFPETWaPGQEr0PbkkN4oLDgYlyegdtMqB5bGb6Pm9mj5_PKohpq1r3YmXj2hF2caqx41heFo5ZOmQrBSGVKl79qQU3yq7XN2wFDBMNGsuG_8dhoSFeHKabydO5ZkxEoNMRAtawURpNq1j6zql84e-CjuvTCQ0Yc6c82TvaWGzS74e8K8c4GKuyZjyelfizLtYKbf3NFPo32I3II7H3tJo6RKqKxeg-h1atXQcigq__NoMDj87uECFpDGyI_TAFbLubvs=s500-no?authuser=1), url(https://www.imageconscious.com/wp-content/uploads/2017/11/ABSPT004.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, top left;
    background-size: 200px, 100%;
}



